- hosts: web
  become: yes
  tasks:

    - name: Install Docker & Compose
      apt:
        name:
          - docker.io
          - docker-compose
        state: present
        update_cache: yes

    - name: Start Docker
      service:
        name: docker
        state: started